

.Outer {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 15;
  width: 100vw;
  height: 100vh;
  margin: -50vh 0 0 -50vw;
  
}



@media screen and (max-width: 900px) and (max-height: 420px) and (orientation: landscape) {
  .Outer {
    width: 100vh;
    height: 100vw;
    transform: rotate(90deg);
    margin: -50vw 0 0 -50vh
  }
}

.Main {
  width: 100%;
  height: 100%;
  

}



/* ----- header ----- */
.Header {
  height: 10%;
  width: 100%;
  background: rgb(180,180,180, 0.3)
}

.Header .Date {
  width: 70%;
  height: 100%;
  float: left;

}

.Header .Date div:nth-child(1){
  height: 60%;
  width: 100%;
  padding: 10px 0 0 25px;
  font-size: 21px;
  font-weight: 600;
}

.Header .Date div:nth-child(2){
  height: 40%;
  width: 100%;
  padding: 0px 0 0 40px;
  font-size: 13px;
  font-weight: 500
}

.Header .Task{
  width: 30%;
  height: 100%;
  float: left;
}

.Header .Task div{
  
  height: 100%;
  width: 100%
}

.Header .Task div div{
  height: 100%;
  width: 100%;
  padding-top: 18px;
  font-size: 20px;
  font-weight: 500
}



















.List {
  width: 100%;
  height: 75%
}
.List ul {
  height: 100%;
  border: none;
  border-radius: none;
  overflow: auto;
}

.List ul li {
  width: 100;
  height: 48px;
  padding-left: 35px;
  /* background: rgb(210,210,210, 0.4);   */
  background: transparent;
  border-radius: 0;
  border-bottom: none;
  border-top: none;
  font-size: 14px;
}
.List ul hr {
  width: 90%;
  height: 1px;
  margin: 0 auto;
  background: rgb(0, 128, 0, 0.3)
}
.List ul li input{
  padding-left: 20px;
}

.List ul li i{
  color: green
}





/* add field */
.AddField{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15%;
}
.AddField .Add {
  width: 100%;
  margin: 0;
  height: 50%;
  background: rgb(210, 210, 210, 0.4);
}

.AddField .Add input {
  width: 90%;
  height: 40%;
  margin-left: 5%; 
  padding-left: 15px;
  font-size: 14px
}

.AddField input{
  position: absolute;
  margin-top: 2%;
  
}

.AddField .Enter{
  width: 100%;
  margin: 0;
  height: 50%;
  background: rgb(210,210,210, 0.5);
}
.AddField .Enter button{
  width: 90%;
  height: 80%;
  margin: 1% 5%;
  font-size: 14px;
  
}