

.Outer {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 15;
  width: 80vw;
  height: 80vh;
  margin: -40vh 0 0 -40vw;
  background: rgb(230,230,230);
  opacity: 0.7;
}



@media screen and (max-width: 900px) and (max-height: 420px) and (orientation: landscape) {
  .Outer {
    width: 100vh;
    height: 100vw;
    transform: rotate(90deg);
    margin: -50vw 0 0 -50vh
  }
}

.Main {
  width: 100%;
  height: 100%;
}







