

.Main {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 15;
  height: 100vh;
  overflow: auto;
}




/* tablets / ipad / desktop */
@media (max-width: 812px) {
  .Main {
    height: 200vh;
    width: 500px;
    margin: -45vh 0 0 -250px;
  }
}



/* iphone 5/ 6/ 7 / 8  series*/
@media screen and (max-width: 750px) {
  .Main {
    width: 500px;
    margin: -45vh 0 0 -250px;
    /* background: orange */
  }
}


/* iphone 5/ 6/ 7 / 8  series*/
@media screen and (max-width: 420px) {
  .Main {
    width: 100%;
    margin: -50vh 0 0 -50%;
    /* background: orange */
  }
}







/* ----- header ----- */
.Header {
  height: 10vh;
  width: 100vw;
  background: rgb(180,180,180, 0.3)
}
/* Date */
.Date{
  float: left;
  height: 100%;
  width: 50%;
  /* background: orange */
}
.Date div:nth-child(1){
  height: 50%;
  width: 100%;
  padding-top: 1.2vh;
  font-size: 2.5vh;
  font-weight: 700
}
.Date div:nth-child(1) b{
  font-weight: 500
}
.Date div:nth-child(2){
  height: 50%;
  width: 50vw;
  font-size: 2.1vh;
  font-weight: 600
  /* background: red */
}

.Header .Task, 
.Header .Add {
  width: 25%;
  height: 100%;
  float: left;
}
.Header .Task .Top, 
.Header .Add .Top {
  width: 100%;
  display: table;
  height: 100%;
  text-align: center;
}
.Header .Task .Top div, 
.Header .Add .Top div{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 2.9vh;
  font-weight: 600
}

.Header .Add {
  background: rgb(210,210,210, 0.9)
}
.Header .Add .Top div {
  font-size: 2.5vh;
  color: rgb(95,95,95)
}
