
.Task {
  width: 30%;
  height: 100%;
  float: left;
}

.Task div {

  height: 100%;
  width: 100%
}

.Task div div {
  height: 100%;
  width: 100%;
  padding-top: 18px;
  font-size: 20px;
  font-weight: 500
}

.NoTask{
  color: rgb(150,150,150)
}