.List {
  width: 100%;
  height: 82.5%;
  color: #034a0e;
  transition: all 200ms ease-in
}

.List ul {
  height: 100%;
  border: none;
  border-radius: none;
  overflow: auto;
  background: rgb(230, 230, 230, 0.7);
}

.List ul li {
  width: 100;
  height: 48px;
  padding-left: 35px;
  border-radius: 0;
  border-bottom: none;
  border-top: none;
  font-size: 14px;
  background: transparent
}

.List ul hr {
  width: 90%;
  height: 1px;
  margin: 0 auto;
  background: rgb(0, 128, 0, 0.3)
}

.List ul li input {
  padding-left: 20px;
}

.List ul span{
  margin-right: 7%;
  font-style: italic;
  font-size: 0.9em;
  color: rgb(135,135,135)
}

.List ul li i {
  color: #032c09
}

.widthAdd{
  height: 75%;
  transition: all 200ms ease-in
}

.List .textDone{
  text-decoration: line-through
}



.Ads{
  width: 100%;
  height: 100%;
  
}
.Ads div{
  position: relative;
  top: 50%;
  left: 50%;
  margin: -2.5% 0 0 -20%;
  width: 40%;
  height: 3%;
  text-align: center;
  display: table;
  border-radius: 3px;
  color: #034a0e;
}

.Ads div div {
  vertical-align: middle;
  width: 100%;
  height: 50%;
  display: table;
  left: 0;
  margin: 0 auto;
  font-size: 1.2em

}

.Ads div p{
  font-size: 0.6em
}



.fade-ads-enter{
  opacity: 0;
  transform-style: all 150ms ease-in
}
.fade-ads-enter-active{
  opacity: 0;
  transform-style: all 150ms ease-in
}
.fade-ads-enter-done{
  opacity: 1;
  transform-style: all 150ms ease-in
}
.fade.ads.exit{
  opacity: 0;
  transform-style: all 50ms ease-in
}
.fade.ads.exit {
  opacity: 0;
  transform-style: all 50ms ease-in
}
.fade.ads.exit {
  opacity: 0;
  transform-style: all 50ms ease-in
}





.fade-list-enter {
  opacity: 0.1;
  /* transform: translateY(300%); */
  transform-style: all 150ms ease-in
}

.fade-list-enter-active {
  opacity: 0.5;
  /* transform: translateY(150%); */
  transform-style: all 150ms ease-in
}

.fade-list-enter-done {
  opacity: 1;
  /* transform: translateY(0%); */
  transform-style: all 150ms ease-in
}

.fade.list.exit {
  opacity: 1;
  /* transform: translateY(0%); */
  transform-style: all 150ms ease-in
}

.fade.list.exit {
  opacity: 0;
  /* transform: translateY(150%); */
  transform-style: all 150ms ease-in
}

.fade.list.exit {
  opacity: 0;
  /* transform: translateY(300%); */
  transform-style: all 150ms ease-in
}