

@media (max-width: 559px) {
  .Buttons {
    height: 15vh;
    width: 100%;
    background: rgb(210, 210, 210, 0.3)
  }
}

@media (max-width: 812px) {
  .Buttons {
    height: 80px;
    width: 100%;
    background: rgb(210, 210, 210, 0.3)
  }
}