.Button{
  height: 2px;
  width: 100%;
}

.Button .Margin{
  height: 2px;
  width: 65%;
  background: #2d6935;
  float: right
}



.Button .Margin .Circle{
  position: relative;
  float: right;
  right: 10%;
  top: -30px;
  height: 55px;
  width: 55px;
  border: 2px solid #84b08a;
  border-radius: 50%;
  background: #2d6935;
}

.Button .Margin .Circle div:nth-child(1){
  position: relative;
  margin: 0 0 0 19.5px;
  top: 26px;
  width: 16px;
  height: 1px;
  background: rgb(210,210,210)
}

.Button .Margin .Circle div:nth-child(2) {
  position: relative;
  width: 1px;
  top: 17px;
  left: 26.5px;
  height: 16px;
  background: rgb(210,210,210)
}

.Button .Margin .Circle:hover {
  background: #179228
}















.add-button-enter {
  opacity: 0.1;
  /* transform: translateY(50px); */
  transition: all 1000ms ease-in
}

.add-button-enter-active {
  opacity: 0.5;
  /* transform: translateY(50px); */
  transition: all 1000ms ease-in
}

.add-button-enter-done {
  opacity: 1;
  transition: all 1000ms ease-in
}

.add-button-exit {
  opacity: 1;
  /* background: blue; */
  transition: all 1000ms ease-in
}

.add-button-exit-active {
  opacity: .9;
  /* background: peru; */
  /* transform: translateX(250px); */
  transition: all 1000ms ease-in
}

.add-button-exit-done {
  opacity: 0;
  /* transform: translateX(250px); */
  transition: all 1000ms ease-in
}
